body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 25px 100px;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

nav a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    margin: 0 0 0 15px;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #1f2937;
    padding: 25px 100px;
    vertical-align: middle;
}

.hero-main h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-main p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-main button {
    color: #e5e7eb;
    background: #3882f6;
    border-radius: 10px;
    padding: 8px 30px;
    font-weight: bold;

}

.hero-img {
    justify-content: center;
    align-items: center;
    
    
}
.hero-img img {
    width: 405px;
    height: auto;
}
