body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 25px 100px;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

nav a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    margin: 0 0 0 15px;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #1f2937;
    padding: 25px 100px;
    vertical-align: middle;
}

.hero-main h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-main p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-main button {
    color: #e5e7eb;
    background: #3882f6;
    border-radius: 10px;
    padding: 8px 30px;
    font-weight: bold;

}

.hero-img {
    justify-content: center;
    align-items: center;
    
    
}
.hero-img img {
    width: 405px;
    height: auto;
}

.card {
    border-radius: 10px;
    border: solid blue 2px;
    height: 100px;
    width: 100px;
    text-align: center;
    display: ;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.cards p {
    display: block;
}

.cards1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards1 p, h1 {
    text-align: center;
}
.quote {
    background-color: #e5e7eb;
    padding: 70px 70px;
}

.quote h4 {
    width: 750px;
    margin: auto;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}
.quote p {
    text-align: right;
    width: 800px;
    font-weight: 900;
    font-size: 30px;
}